@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.userInfoModal {
  font-family: "Inter", sans-serif;
  color: $dark-color;

  &__title {
    margin-bottom: 14px;

    @include sm {
      margin-bottom: 10px;
    }
  }

  .userInfoModal__context {
    max-height: 297px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 10px;

    .userInfoModal__month {
      text-align: center;
      margin-bottom: 5px;
    }

    .userInfoModal__user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 10px 5px 5px 5px;

      @include sm {
        flex-direction: column;
      }

      .user-info {
        display: flex;
        align-items: center;

        width: 40%;

        @include sm {
          margin-bottom: 5px;
        }
      }

      .user-color {
        width: 25px;
        height: 20px;
        border-radius: 10px;
      }

      .user-title {
        margin-left: 5px;
      }

      .user-inputBlock {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .user-input {
        width: 20%;
        margin: 0 5px;
      }

      .user-input-large {
        width: 40%;
        margin: 0 10px;
      }

      .user-input-md {
        width: 25%;
        margin: 0 10px;
      }

      .user-btn {
        padding: 5px 10px;
        height: 70%;
        color: $soft-color;
        background-color: $main-bg;
      }

      .user-btn:hover {
        color: $main-bg;
        background-color: $soft-color;
      }
    }
  }
}

.userInfoModal__context::-webkit-scrollbar {
  display: none;
}
