@import "../../styles/variable.scss";
@import "../../styles/responsive.scss";

.bigChartBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow-y: scroll;

  .charts-area {
    width: 100%;
    height: 320px;
    margin-bottom: 60px;
  }

  .charts-title {
    margin-bottom: 20px;
  }

  &-row {
    display: grid;
    grid-template-columns: 97% 3%;
  }

  &-list {
    position: fixed;
    list-style: none;
    text-align: center;

    margin-top: 35px;
  }

  .item-circle {
    margin: 8px 0;
    background-color: #757d8b;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &:hover {
      background-color: #fff;
    }

    &.active {
      background-color: #fff;
    }
  }

  @include md {
    .bigChartBox-menu {
      display: none;
    }
  }
}

.bigChartBox::-webkit-scrollbar {
  display: none;
}