.pieChartBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //no click
  pointer-events: none;

  .chart {
    width: 100%;
    height: 100%;
  }
}

.userInfoModal {
  &__title {
    margin-bottom: 10px;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 5px 5px 5px;

    .user-title {
      width: 5%;
    }

    .user-inputBlock {
      display: flex;
      justify-content: flex-end;
    }

    .user-input {
      width: 60%;
      margin: 0 10px;
    }
  }

  .userInfoModal__btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
